<!DOCTYPE html>
<html>
<head>
  <title><%= tilte %></title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "webcomponentsjs/webcomponents" unless Rails.env.test? %>
  <%= html_import_tag "application" %>
  <%= csrf_meta_tags %>  
</head>
<body>
  <platinum-sw-register>
  <platinum-sw-cache>

<%= render "layouts/header" %>
<%=yield %>
<%= render "layouts/footer" %>
</platinum-sw-cache>
</platinum-sw-register>
</body>
</html>
